body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color:white;
}

form {
    margin: auto;
    background-color: #F3E8FF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #5A2D82;
}

fieldset {
    border: 2px solid #E1CFFF;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F9F2FF;
}

legend {
    font-weight: bold;
    text-align: left;
    color: #6A3DA0;
}

label {
    display: block;
    margin-top: 10px;
    color: #5A2D82;
}

input, textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid #E1CFFF;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F3E8FF;
}

button {
    display: block;
    width: 100%;
    background-color: #8a5ed2;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #483563;
    color: white;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #E1CFFF;
    border-radius: 8px;
    background-color: #F3E8FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

#resume-display h2 {
    color: #5A2D82;
}
